<!--1.template(html) bloc -->
<template>
<p><img src="./assets/logo.png" alt=""></p>
 <h1>HELLO {{ name }} {{ age }}</h1>
 <p v-html="msg"></p>
 <p v-pre>{{ ceo }}</p>
 <p>{{ ceo }}</p>
</template>

<!-- 2.logic(่javaScript)Bloc -->
<script>
alert();
export default{
  data(){
    return{
    name :'Mark',
    age : 45 , 
    msg : 'How are you?',
    ceo : 'facebook',
    }
  }
};
</script>

<!-- 3.style(css) bloc -->
<style>
h1{
  color: #15c06a;
}
</style>